@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
a {
  text-decoration: none;
  color: #273237;
}

* {
  box-sizing: border-box;
}

.body {
  font-family: "Montserrat", sans-serif;
}

.header {
  margin: 10px auto 0 auto;
  width: 90.9%;
  display: flex;
  justify-content: space-between;
}
.header_title {
  margin: 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;
  color: #273237;
  max-width: 481px;
}
.header_nav {
  align-self: baseline;
  max-width: 644px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 72px;
}
.header_nav_menu {
  max-width: 470px;
  width: 100%;
  display: flex;
  gap: 10px;
}
.header_nav_menu_link {
  max-width: 150px;
  width: 100%;
  height: 50px;
  background: #a1cdf1;
  border: 2px solid #273237;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #273237;
}
.header_nav_social {
  display: flex;
}
.header_nav_social_logo {
  width: 52px;
  height: 52px;
}

.main {
  margin: -14px auto 48px auto;
  width: 89.93%;
  background: url("./images/Илюста 1.webp") right bottom no-repeat;
  background-size: contain;
}
.main_content {
  max-width: 750px;
  width: 100%;
}
.main_content_title {
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
  color: #273237;
  margin: 0 0 15px 0;
  padding-top: 45px;
}
.main_content_text {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 56px 0;
  max-width: 609px;
  width: 100%;
}
.main_content_button {
  width: 300px;
  height: 50px;
  background: #f0a6ca;
  border: 2px solid #273237;
  border-radius: 8px;
}

.about {
  min-height: 561px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 39px;
  background: rgba(161, 205, 241, 0.1);
}
.about_content {
  margin: 0 75px 0 183px;
  max-width: 1180px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_content_img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 410px;
  height: 410px;
}
.about_content_wrapper {
  max-width: 630px;
  width: 100%;
}
.about_content_wrapper_title {
  text-align: center;
  margin: 0 auto 32px auto;
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
  color: #273237;
}
.about_content_wrapper_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #273237;
  margin: 0 0 12px 0;
}
.about_content_wrapper_education {
  margin: 0;
}
.about_content_wrapper_education_image {
  width: 16px;
  height: 16px;
}
.about_content_wrapper_wrapper-education {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 32px;
}
.about_content_wrapper_button {
  width: 440px;
  height: 50px;
  background: #f0a6ca;
  border: 2px solid #273237;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
}
.about_hiddenlayer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
  justify-items: center;
  align-items: center;
}
.about_hiddenlayer_img {
  width: 410px;
  height: 260px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about_hiddenlayer_img:first-of-type {
  width: 410px;
  height: 574px;
  grid-row-start: 1;
  grid-row-end: 3;
}
.about_rotate {
  transform: rotate(180deg);
}

.services {
  margin: 48px auto;
  max-width: 1290px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services_title {
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
  color: #273237;
  text-align: center;
  margin: 0 auto 56px auto;
}
.services_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 32px;
}
.services_wrapper_element {
  max-width: 300px;
  width: 100%;
}
.services_wrapper_element_text {
  margin: 32px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.reviews {
  margin: 0 auto 48px auto;
  max-width: 1070px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reviews_img {
  margin-top: 16px;
}
.reviews_title {
  margin: 0 auto 48px auto;
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
  text-align: center;
  color: #273237;
}
.reviews_slider {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews_slider_slide {
  text-align: center;
  min-width: 850px;
  max-width: 850px;
  margin: 0 auto;
  min-height: 110px;
}
.reviews_slider_button {
  background: #f0a6ca;
  border: 2px solid #273237;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 300px;
}
.reviews_slider_paganation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
}
.reviews_slider_paganation_button {
  background: #a1cdf1;
  border: 1px solid #000000;
  border-radius: 30px;
  width: 12px;
  height: 12px;
}
.reviews_slider_paganation_button_active {
  background: #f0a6ca;
}/*# sourceMappingURL=index.css.map */